html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    margin:0;
    margin-bottom: 100px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 200px;
    background-position-y: 90%;
}

#footer {
    color: #999; 
    font-size: 80%; 
    position:fixed; 
    bottom:0; 
    background: #2c3e50;
    width: 100%;
    text-align: center;
}

#footer a , #footer a:link ,#footer a:visited {
    color: #999;
    text-decoration-line: none;
}

#footer a:hover {
    color: black;
    text-decoration-line: underline;
}

.createdWith {
    visibility: %createdWithVisibility%;
}

.swagger-ui .topbar .download-url-wrapper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:3;
    -ms-flex:3;
    flex:3;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    visibility: %exploreFormVisibility%;
}

.swagger-ui .topbar .topbar-wrapper,.swagger-ui .topbar a {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    visibility: %swaggerHeaderVisibility%;
}

.swagger-ui .global-server-container {
    visibility: %serverVisibility%;
    block-size: %serverVisibilityBlockSize%;
    margin: unset;
    padding: 0px;
}